{%load static%}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>NEPTUBE</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
 <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css" media="all" />
 <link rel="stylesheet" href="{% static 'css/form.css' %}" type="text/css" media="all" />
 <link rel="stylesheet" href="{% static 'css/theaterdetails.css' %}" type="text/css" media="all" />
 <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css" rel="stylesheet">

<script type="text/javascript" src="{% static 'js/jquery-1.4.2.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/theaterdetails.js' %}"></script>

<script type="text/javascript" src="{% static 'js/jquery-func.js' %}"></script>
<link rel="stylesheet" href="{% static 'css/ie6.css' %}" type="text/css" media="all" />
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

</head>

<body>
<!-- START PAGE SOURCE -->
<div id="shell">
  <div id="header">
    <h1 id=""><a href="/home">NEPTUBE</a></h1>
    <div class="social"> <span>FOLLOW US ON:</span>
      <ul>
        <li><a class="twitter" href="#">twitter</a></li>
        <li><a class="facebook" href="#">facebook</a></li>
        <li><a class="vimeo" href="#">vimeo</a></li>
        <li><a class="rss" href="#">rss</a></li>
      </ul>
    </div>
    <div id="navigation">
      <ul>
        <li><a class="active" href="/home">HOME</a></li>
        <li><a href="/comingsoon">NEWS</a></li>
        <li><a href="/theater/">IN THEATERS</a></li>
        <li><a href="/upload">Upload New</a></li>
        <li><a href="#">CONTACT</a></li>
        {% if user.is_authenticate %}
        <p>Welcome , {{user.name}}
        <li><a href="{% url 'logout' %}">Login</a></li>
        {% else %}
        <li><a href="{% url 'login'%}">logout</a></li>
        {% endif %}


      </ul>
    </div>
    <div id="sub-navigation">
      <ul>
        <li><a href="#">SHOW ALL</a></li>
        <li><a href="#">LATEST TRAILERS</a></li>
        <li><a href="#">TOP RATED</a></li>
        <li><a href="#">MOST COMMENTED</a></li>
      </ul>
      <div id="search">
        <form action="#" method="get" accept-charset="utf-8">
          <label for="search-field">SEARCH</label>
          <input type="text" name="search field" value="Enter search here" id="search-field" class="blink search-field"  />
          <input type="submit" value="GO!" class="search-button" />
        </form>
      </div>
    </div>
  </div>
</div>

